body {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #497d57;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    position: relative;
    display: grid;
    width: 100%;
    max-width: 1300px;
    grid-template-columns: 1fr 300px; 
}

.map {
    background-color: #497d57;
    display: flex;
    width: 100%;
    max-height: 100vh;
}

.map > svg {
    width: 100%;
    height: 100vh;
}

.wrapper {
    display: flex;
    position: relative;
    width: 100%;
    max-height: 100vh;
}

@media(max-aspect-ratio:1) {
    .container {
        flex-wrap: wrap;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
    .map > svg {
        height: auto;
    }
}


.map_regions {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
}

#map_regions > .region {
    stroke: #ffffff00;
    stroke-width: 3px;
    transition: stroke .5s;
}

#map_regions > .region_plus {
    opacity: 0;
    display: block;
    transition: opacity .5s;
}

#map_regions > .region_plus.hidden{
    display: none;
    opacity: .0;
    transition: opacity .5s;
}

#map_regions.team-one > .region.active.team-one, #map_regions.team-two > .region.active.team-two  {
    stroke: #ffffff30;
    transition: fill .3s;
}
#map_regions.team-one > .region_plus.team-one, #map_regions.team-two > .region_plus.team-two {
    opacity: .8;
}

#map_regions > .region.hover {
    stroke: #ffffff20;
    stroke-width: 3px;
    transition: stroke 0s;
}

#map_regions > .region.hover.active {
    fill: #ffffff20;
    transition: fill 0s;
}

#map_regions > .team-one:not(.active) {
    fill: #577af883;
}


#map_regions > .team-two:not(.active) {
    fill: #f857577f;
}

#map > .region {
    fill: #497d57;
    stroke: #497d57;
    stroke-width: 1;
}

#map > .water {
    fill: #6563cc;
    stroke: #6563cc;
}

#map > .wheat {
    fill: #587d49;
    stroke: #587d49
}

#map > .rock, #map > .mountain {
    fill: #a59982;
    stroke: #a59982;
}

/* #map > .rock, #map > .mountain {
    fill: #cac5bc;
    stroke: #cac5bc;
} */



/* ------ popup ------ */

.popup {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #00000030;
    opacity: 1;
    transition: opacity .5s;
    top: 0;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.block-screen {
    display: block;
    position: absolute;
    z-index: 3;
    width: 100vw;
    height: 100vh;
}

.popup.hidden {
    display: none;
    opacity: 0;
    transition: opacity .5s;
}

.popup .wrapper {
    background-color: #fff;
    padding: 16px;
    border-radius: 16px;
    min-width: 40%;
    margin: 8px;
    box-shadow: 0px 0px 8px #00000050;
    display: block;
    max-width: 600px;
}

.popup .wrapper h1 {
    font-size: 40px;
    font-weight: 900;
}

.popup .wrapper p {
    font-size: 20px;
    margin: 16px 0;
}

.popup .wrapper button {
    padding: 8px 32px;
    background-color: #000;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 24px;
    font-size: 24px;
    margin: 8px auto;
    cursor: pointer;
    transition: background-color .3s;
    width: 100%;
    font-weight: 900;
}

.popup .wrapper .question {
    margin: 8px 0 24px;
    text-align: center;
    font-size: 20px;
    width: 100%;
}

.popup .wrapper .answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    margin: 16px 0;
}

.popup .wrapper .answers legend {
    font-size: 20px;
    margin: 8px 0;
    font-weight: 700;
}


.popup .wrapper .answer-var label {
    display: block;
    padding: 8px 16px;
    background-color: #00000020;
    border-radius: 16px;
    transition: color .5s, background-color .3s;
}

.popup .wrapper .answer-var input {
    display: none;
}

.popup .wrapper .answer-var input:checked + label {
    background-color: #ffcc00;
}

.popup.start-block .wrapper .answers:disabled .answer-var label {
    background-color: #dbdbdb60;
    color: #00000050;
    transition: color .5s, background-color .3s;
}

.popup .wrapper .service {
    margin-top: 8px;
    text-align: center;
    color: #00000090;
    font-weight: 700;
    min-height: 16px;
}

.popup .wrapper:has(.success) {
    background:#3eab5b;
}

.popup .wrapper:has(.wrong) {
    background:#d66363;
}

.popup .wrapper:has(.success) .service, .popup .wrapper:has(.wrong) .service {
    color: #fff;
}



/*----DASHBOARD------*/

.dashboard {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    background: #497d57;
    width: 100%;
    justify-content: center;
}

.dashboard .team {
    background: #ff6d6d;
    padding: 4px 12px;
    width: 100%;
    max-width:300px;
    min-width: 200px;
}

.dashboard .team.team-one {
    background: #577af8;
}
.dashboard .team.team-two {
    background: #f85757;
}

.dashboard .header, .dashboard .addition  {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 4px 0;
}

.dashboard .addition .total::before {
    content: "+";
}

.dashboard .header {
    font-weight: 700;
    font-size: 20px;
}

.dashboard .resources {
    background: #fff;
    padding: 4px;
    margin:  8px -4px 0px;
    border-radius: 12px
}

.dashboard .resources .group {
    display: flex;
    justify-content: center;
}

.dashboard .resources .group .item {
    display: flex;
    padding: 4px 8px;
    align-items: center;
}


.dashboard .resources .group .item img {
    width: 24px;
}

.dashboard .resources .group .item .number {
    padding-left: 4px;
}

.dashboard .resources .group .item .number::before {
    content: 'X';
    padding-right: 4px;
    color: #aaa;
}

.dashboard .resources .group.total { 
    display: grid;
    justify-items: center;
}

.dashboard .resources .group:not(:last-child) {
    border-bottom: solid 1px #00000050;
}

@media (max-width: 450px) {
    .dashboard .team {
        max-width: 100%;
    }
    
}
